<h1>Profile</h1>
<h3><%= @user.email %></h3>

<%= render "relationships/follow_button", user: @user %>

<% if @user == current_user %>
  <ul>
    <% @user.followers.each do |follower| %>
      <li><%= link_to follower.email, follower %></li>
    <% end %>
  </ul>
<% end %>

<%= link_to  "Back", root_path %>